<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to Home</p>

    <ul>
      <li><h1>
        <a href="/users/login">Iniciar sesión</a>
      </h1></li>
      <li><h1>
        <a href="/users/register">Registrarse</a>
      </h1></li>
    </ul>
  </body>
</html>
